$backgroundMain: #e35d9a;
$backgroundSecondary: #5d94cd;
$fontColor: #e1e1e2;
$mainColor: #310453;
$dark: #2a2a2e;
$dark2: #4a4a4a;
$light: #dadadd;
$light2: #c5c5c9;
$special: #5f65af;
$border: #3399ff;

.weather-cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Gill Sans MT";
  margin: 20px;
  margin-left: 0;
  margin-right: 0;
  box-sizing: border-box;
  &-weekday {
    color: $dark;
    font-size: 1.2em;
    font-weight: 600;
    font-family: "Gill Sans MT";
  }
  &-img {
    width: 100px;
    height: 100px;
  }
  &-temp {
    color: $dark;
    font-size: 1.2em;
    font-weight: 600;
    font-family: "Gill Sans MT";
  }
  &-cloudiness {
    color: $dark;
  }
}

.weather-cell-special-1 {
  border-right: 3px solid $special;
}

.weather-cell-special-2 {
  border-right: 3px solid $special;
}

.weather-cell-special-3 {
  border-right: 3px solid $special;
}

@media all and(max-width: 768px) {
  .weather-cell-special-2 {
    border-right: none;
  }
}

@media all and(max-width: 460px) {
  .weather-cell {
    margin: 0;
    padding: 10px;
  }
  .weather-cell-special-1 {
    border-right: none;
    background: $light2;
  }
  .weather-cell-special-2 {
    border-right: none;
  }

  .weather-cell-special-3 {
    border-right: none;
    background: $light2;
  }
}
